
* {

    margin: 0px;
    
    padding: 0px;

    max-width: 100%;
    
    }

.app{
    background-color: grey
}



.title-text{
    display: flex;
}

.qr-code {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 8em;
    left: 36%;
    top: 50%;
}